body {
  background-image: url(https://st2.depositphotos.com/3001967/10781/v/600/depositphotos_107818102-stock-video-multiple-red-dice-rolling-on.jpg);
  background-repeat: no-repeat;
  background-size: 150vw;
}

.header h1 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #bcc2c9;
}

.players{
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  font-family: 'Lobster', cursive;
  color: #bcc2c9;
}

.player h2 {
  font-size: 2.5rem;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 10rem;
  height: 4rem;
  font-family: 'Lobster', cursive;
}

.footer {
  text-align: center;
  margin-top: 2rem;
}

